body { background-color:#FFFFFF;color:#666666; }

header { background-color:#002171;color:#FFFFFF;margin-bottom: 0; }

nav { background-color:#BBDEFB;color:; }

b { background-color:#FFFFFF;color:BBDEFB; }

h3 { background-color:#FFFFFF;color:#1976D2; }

dt { background-color:#FFFFFF;color:#002171; text: #002171; }

.resort { background-color:#FFFFFF;color:#1976D2; }

h1 { margin-bottom: 0; }

h2 { background-color:#FFFFFF;color:#1976D2; }

h1 { margin-bottom: 0; }
